* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 237, 218);
    font-family: Helvetica;
    text-align: center;
    padding: 40px;
}
h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px
}
h2 {
    padding: 20px ;
    border: 3px solid gray;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.first-paragraph {
    color: green;
  
}

.second-paragraph {
    margin-top: 40px;
    
}