@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 60%;
    box-sizing: border-box;
}

body {
    font-family: Arima;
    font-weight: 600;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #FFE6E6,#F6C6EA );

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* LAYOUT */

main {
    background-color: rgb(179, 175, 175);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(43, 39, 39, 0.25);
    border-radius: 10px;

    width: 100rem;
    height: 60rem;
    position: relative;
    display: flex;
    overflow: hidden;
}

.player {
    flex:50%;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.75s;
}

/* ELEMENTS */

.name {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    
    position: relative;
    margin-bottom: 1rem;
}

.score {
    font-size: 8rem;
    color: #F6C6EA;

    margin-bottom: auto;
}


.player--active {
    background-color: #FAF4B7
}

.player--active .current {
    opacity: 1;
}

.current {
    background-color: #F6C6EA;
    opacity: 0.8;
    border-radius: 10px;
    color: #fff;
    width: 65%;
    text-align: center;
    padding: 2rem;
    transition: all 0.75s;
}

.current-label { 
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.current-score {
    font-size: 4rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */

.btn {
    color: red;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.75s;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.2);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.7rem 2.5rem;
}

.btn::first-letter {
    font-size: 2.5rem;
    display: inline-block;
    margin-right: 0.9rem;
}

.btn--new {
    top: 4rem;
}
.btn--roll {
    top: 40rem;
}
.btn--hold {
    top: 47rem;
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);;
}

.btn::focus {
    outline: none;
}

.dice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15rem;
    height: 10rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
    background-color: #2f2f2f;
}

.player--winner .name {
    font-weight: 700;
    color: #c7365f;
  }

.hidden {
    display: none;
}